<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #marca {
            margin: 0;
            padding: 15px;
            background-color: #e0cba4;
            text-align: center;
        }
        #nombre {
            margin: 0;
            padding: 15px;
            background-color: #e0cba4;
            text-align: center;
        }
    </style>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <h1 id="marca">Un Toque Dulce</h1>
    <h3 id="nombre">de {{nombre}}</h3>
    {% include 'navegacion/navbar.html' %}
    <p>Inicialmente, es solo una vista estática</p>
    {# Esto es un comentario de una linea #}
    {% block content %} {% endblock %}
</body>
</html>